<mat-toolbar color="primary" class="fixed-top">
  <button mat-button (click)="onGoBack()"
          *ngIf="showBackButton"
          aria-label="back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{title}}</span>
  <button mat-button id="menu"
          [matMenuTriggerFor]="appMenu"
          aria-label="menu"
          *ngIf="isLoggedIn">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="onLogout()" aria-label="logout">Logout</button>
</mat-menu>
