video {
  background-color: black;
  width: 100%;
}

canvas {
  background-color: green;
  width: 512px;
  max-width: 100%;
}

#video-player {
  position: relative;
}

#capture-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
