<mat-card>
  <div class="container">
    <mat-card-title>{{circle.name}}
      <button mat-button type="button" matTooltip="Settings" [matMenuTriggerFor]="appMenu"
              aria-label="more" *appRole="circle.owner"><mat-icon>more_vert</mat-icon></button>
    </mat-card-title>
    <button mat-fab type="button" matTooltip="Chat"
            [routerLink]="[circle.id, 'chat']" (click)="onPageClick()"
            aria-label="chat"><mat-icon>forum</mat-icon></button>
    <button mat-fab type="button" matTooltip="Wall"
            [routerLink]="[circle.id, 'wall']" (click)="onPageClick()"
            aria-label="posts"><mat-icon>view_day</mat-icon></button>
    <button mat-fab type="button" matTooltip="Album"
            [routerLink]="[circle.id, 'album']" (click)="onPageClick()"
            aria-label="album"><mat-icon>photo</mat-icon></button>
<!--  <button mat-fab type="button" matTooltip="Events"
          aria-label="events"><mat-icon>event</mat-icon></button>-->
  </div>
</mat-card>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item aria-label="delete" (click)="onCircleDelete()"><mat-icon>delete_forever</mat-icon>Delete</button>
</mat-menu>
