mat-sidenav-container {
  height: 100vh;
}

.f-main {
  height: 100%;
  padding-top: 64px;
  overflow-y: auto;
}

@media (max-width: 599px){
  .f-main {
    padding-top: 56px;
    height: 100%;
    overflow-y: auto;
  }
}
