<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-form-field class="f-form">
        <textarea class="f-textarea" matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4"
                  autocomplete="off" placeholder="Share something interesting..." title="post"
                  #post></textarea>
        <button mat-button matSuffix type="button" aria-label="post" matTooltip="Post"
                (click)="onNewPost()"
                [disabled]="post.value.length === 0">
          <mat-icon>create</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <app-post [post]="post" *ngFor="let post of posts"></app-post>
</div>
