<div class="bubble" *ngIf="sender !== username">
  <button mat-mini-fab color="accent">{{sender.charAt(0)}}</button>
  <ul>
    <li *ngFor="let message of messages">
      <mat-chip selected="true" color="warn">{{message.content}}</mat-chip>
    </li>
  </ul>
</div>

<div class="bubble from-me" *ngIf="sender === username">
  <ul>
    <li *ngFor="let message of messages">
      <mat-chip selected="true" color="primary">{{message.content}}</mat-chip>
    </li>
  </ul>
  <button mat-mini-fab color="accent">{{username.charAt(0)}}</button>
</div>
