mat-card-subtitle, mat-card-content {
  display: inline;
}

.from-me {
  text-align: right;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0 5px;
  padding: 0;
  max-width: 70%;
}

mat-chip {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 14px;
}

.bubble {
  margin-top: 5px;
}
